.cmw-header {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid var(--background-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cmw-logo {
  max-height: 75%;
  max-width: 75%;
}
