<div class="cmw-main-container">
    <div class="cmw-title-top"></div>
    <div class="cmw-title">{{ title }}</div>
    <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="step-counter">1</div>
        <div class="step-name">REGISTER</div>
      </div>
      <div class="stepper-item completed">
        <div class="step-counter">2</div>
        <div class="step-name">SUBMIT INFO</div>
      </div>
      <div class="stepper-item active">
        <div class="step-counter">3</div>
        <div class="step-name">COMPLETE</div>
      </div>
    </div>
    <div class="cmw-form">
      <label class="cmw-font-bold">Thank you for registering!</label>
      <label>You should receive a confirmation email momentarily containing additional details.</label>
    </div>
  </div>
  